* {
  box-sizing: border-box;
}

button {
  padding: 0;
  box-shadow: none;
  border: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

button::-moz-focus-inner {
  border: none;
}

:root {
  --BackGround: #eff3f8;
  --FieldColor: rgb(80, 100, 102);
  --FieldBackground: #eff3f8;
  --BoxShadowAround: 0px 3px 5px rgba(0, 0, 0, 0.1);
  --FocusOutlineColor: #02285a;
  --FieldsFormSideWidth: 40px;
  --FieldSize: 32px;
  --FieldsPadding: 10px;
  --FieldGap: 6px;
  --FontSize: 14px;
  --ButtonSize: 35px;
}

body {
  background: var(--BackGround);
  font-size: var(--FontSize);
}

.App {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 1rem auto;
}

.FieldsForm {
  display: flex;
  margin: 0 auto;
}

.FieldsFormMiddle {
  display: flex;
  flex-direction: column;
  box-shadow: var(--BoxShadowAround);
  background: white;
  padding: var(--FieldsPadding);
}

.Fields {
  display: grid;
  grid-template-columns: repeat(7, var(--FieldSize));
  grid-template-rows: repeat(7, var(--FieldSize));
  gap: var(--FieldGap);
  outline: none;
  touch-action: manipulation; /* disable double tap zoom */
}

.Field {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background: var(--FieldBackground);
  color: var(--FieldColor);
  position: relative;
  user-select: none;
}

.Keyboard .Fields:focus .Field[data-focused='true'] {
  outline: 1px solid var(--FocusOutlineColor);
}

.Field:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2c78ff;
  background: url(/assets/Cross.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 50ms;
}

.Field[aria-disabled='true'] {
  background: #f5f6f7;
  cursor: not-allowed;
  filter: grayscale(50%);
  opacity: 0.4;
}

.Field[aria-selected='true'] {
  color: transparent;
}

.Field[aria-selected='true']::before {
  opacity: 1;
}

.FieldsFormLeft,
.FieldsFormRight {
  width: var(--FieldsFormSideWidth);
  flex-direction: column;
  justify-content: center;
  display: none;
}

[class^='FieldsBottom'] {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.FieldsBottom {
  display: none;
  justify-content: center;
}

.ButtonContinue,
.ButtonBack {
  text-indent: -10000px;
  width: var(--ButtonSize);
  height: var(--ButtonSize);
  background: #2c78ff;
  position: relative;
  border-radius: 50%;
  align-self: center;
  border: 2px solid transparent;
}

.ButtonContinue:disabled,
.ButtonBack:disabled {
  opacity: 0.3;
}

.Keyboard .ButtonContinue:focus,
.Keyboard .ButtonBack:focus {
  border-color: var(--FocusOutlineColor);
}

.ButtonContinue::before {
  background: url(/assets/ArrowRight.svg);
}

.ButtonBack:before {
  background: url(/assets/ArrowLeft.svg);
}

.ButtonContinue::before,
.ButtonBack::before {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  top: 15%;
  left: 15%;
  background-size: 70% 70%;
  background-repeat: no-repeat;
}

.ButtonReset {
  background: var(--ButtonResetBackground);
  align-self: start;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid;
  height: var(--ButtonSize);
}

.ButtonReset:hover,
.Keyboard .ButtonReset:focus {
  background: rgb(61, 61, 61);
  color: white;
}

@media screen and (min-width: 420px) {
  :root {
    --FieldSize: 35px;
    --FieldsPadding: 15px;
    --FieldGap: 8px;
    --FieldsFormSideWidth: 48px;
    --ButtonSize: 40px;
  }
  .FieldsFormLeft,
  .FieldsFormRight {
    display: flex;
  }
  .FieldsBottomSmall {
    display: none;
  }
  .FieldsBottom {
    display: flex;
  }
}

@media screen and (min-width: 500px) {
  :root {
    --FieldsFormSideWidth: 60px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --FieldSize: 50px;
    --FontSize: 16px;
  }
}

.ConfirmNumbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: var(--BoxShadowAround);
  margin: 0 auto;
  padding: 10px;
}

.ConfirmNumber {
  padding: 8px;
  border-radius: 50%;
  background: var(--FieldBackground);
  margin: 0 5px;
}
